/*body { background:#f8f8f8 url(images/logo-2.jpg) top center no-repeat; padding-top:120px; background-size:contain; }*/
h1, h2, h3, h4, h5, h6, a {
	font-family: "Droid Arabic Kufi", tahoma;
	font-weight: 700
}
h1 {
	font-size: xx-large;
}
h2 {
	font-size: x-large
}
h3 {
	font-size: large
}
h4 {
	font-size: medium
}
h5 {
	font-size: small
}
h6 {
	font-size: smaller
}
p {
	font-family: "Droid Arabic Naskh", tahoma;
	font-size: small
}
/*body {
	background: #f8f8f8;
}*/
table, th, td {
	border: 1px solid black;
}

body { /*background:#ffffff  url(../images/bg.jpg) top right no-repeat fixed; background-size:200%;*/ }

.cars_list { display:block; 
    overflow: hidden; }
	
	.cars_list , .about { margin-bottom: 30%; }

.madad_body {
}
.logo { display:block; margin:25px auto; width:35%; height: auto;
}
.hr {
	margin-bottom: 15px;
	display: block;
	overflow: hidden;
	width: 100%;
	clear: both
}
.madad_body {
	margin-top: 40px;
}
.no-padding {
	padding-left: 0;
	padding-right: 0
}
.toggle {
	z-index: 9999999999999999999;
	cursor: pointer;
}
#sidebar {
	z-index: 9999999999999999999;
	overflow: hidden;
	background: #FC0;/*background: -moz-linear-gradient(left, #f9f9f9 0%, #ededed 100%);
background: -webkit-linear-gradient(left, #f9f9f9 0%,#ededed 100%);
background: linear-gradient(to right, #f9f9f9 0%,#ededed 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ededed',GradientType=1 );*/}
#sidebar ul {
	list-style: none;
	margin-top: 30px;
}
#sidebar ul li a {
	display: block;
	font-weight: bold;
	font-size: medium;
	color: #111111;
	font-family: "Droid Arabic Kufi", tahoma;
	padding: 25px 5%;
	border-bottom: #954A00 1px solid
}
 .about { margin-top:20%; }
.about h4 { font-size: xx-large }
.about p { font-size:x-large; line-height:165%;}
.car-item ul { list-style:none }
.car-item li { font-size: medium; padding-top:10px; padding-bottom:10px; }
.car-item h3 { font-size: large }
.btn { font-size:xx-large ; font-family:"Droid Arabic Kufi",tahoma; border-radius:0}

form label { font-size: medium; font-family:"Droid Arabic Kufi",tahoma;  padding-top:20px; padding-bottom:20px; margin-bottom:10px; }

.form-control { background:#f0f0f0; font-size: medium; padding-top:40px; padding-bottom:40px;font-family:"Droid Arabic Kufi",tahoma }

h1 , h2 { display:block; width:100%; text-align:center }
.result { overflow:hidden; margin-top:25px; }
.result b ,  .result p { font-size:30px }

.result p { font-weight:700 }



